  <h1>Tufts Digital Library Admin</h1>

  <h2>Admin</h2>
  <nav>
    <ul>
      <li><%= link_to 'Create a new object', new_record_path %></li>
      <li><%= link_to 'Create a new voting record', new_curation_concerns_tufts_voting_record_path %></li>
      <li><%= link_to 'Unpublished objects', '#' %></li>
      <li><%= link_to 'Handle.net log', '#' %></li>
    </ul>
  </nav>

  <h2> Self Deposit </h2>
  <nav>
    <ul>
      <li><%= link_to 'Manage self-deposit types', '#' %></li>
      <li><%= link_to 'Contribute a new Self-Deposit item', '#' %></li>
    </ul>
  </nav>

  <h2> Batch Operations </h2>
  <nav>
    <ul>
      <li> <%= link_to 'View Batch Statuses', '#' %> </li>
      <li> <%= link_to 'Manage metadata templates', '#' %> </li>
      <li> <%= link_to 'Start a Template-based import', '#' %> </li>
      <li> <%= link_to 'Import Archival Content', '#' %> </li>
      <li> <%= link_to 'Replace Raw Metadata', '#' %> </li>
    </ul>
  </nav>


